<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../templates/head_meta.ejs') %> <%- include('../templates/head_link.ejs') %>
  </head>
  <body>
    <%if(errMsg){%>
    <p style="color: black;"><%=errMsg%></p>
    <%}else{%>
    <header><%- include('../templates/header_banner.ejs') %></header>
    <nav></nav>
    <main></main>
    <aside></aside>
    <footer></footer>
    <%- include('../templates/body_scripts.ejs') %> <%}%>
  </body>
</html>
