<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FAV ICON -->
    <link rel="fav-icon" href="#" type="image/x-icon" />

    <title>Dian Adi Nugroho</title>

    <!-- LANGUAGE DIRECTORY -->
    <link rel="alternate" hreflang="en" href="https://dianadi021.github.io/" />
    <link rel="alternate" hreflang="id" href="https://dianadi021.github.io/" />

    <meta
      name="description"
      content="Website ini merupakan situs resmi yang dibuat oleh Dian Adi Nugroho sendiri, untuk kepentingannya sendiri, demi kesenangannya sendiri dan di develop sendiri." />
    <meta name="keywords" content="dianadi021, dianskuad, dian nugroho, dian skuad, dian adi nugroho" />
    <meta name="image" content="#" />
    <meta name="author" content="Dian Nugroho" />
    <meta name="language" content="Indonesia" />
    <meta name="language" content="English" />
    <meta name="geo.placename" content="Indonesia" />
    <meta name="geo.country" content="id" />
    <meta name="webcrawlers" content="all" />
    <meta name="rating" content="general" />
    <meta name="spiders" content="all" />

    <!--
    <meta itemprop="name" content="Bootstrap Gallery - free examples, templates &amp; tutorial"/>
    <meta itemprop="description" content="Responsive galleries created with Bootstrap 5. Image gallery, video gallery, photo gallery, full-page, eCommerce, lightbox, slider, thumbnails, &amp; more."/>
    <meta itemprop="image" content="https://mdbcdn.b-cdn.net/docs/standard/extended/gallery/src/assets/featured.jpg"/>
    -->
    <!--
    <meta property="og:title" content="Judul Konten Anda">
    <meta property="og:description" content="Deskripsi Konten Anda">
    <meta property="og:image" content="URL_GAMBAR_KONTEN">
    <meta property="og:url" content="URL_HALAMAN_KONTEN">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Dian Nugroho | Official" />
    <meta property="og:locale" content="id_ID" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Judul Konten Anda">
    <meta name="twitter:description" content="Deskripsi Konten Anda">
    <meta name="twitter:image" content="URL_GAMBAR_KONTEN">
    -->

    <!-- JQUERY v3.6.3-->
    <script src="assets/vendor/jquery-3.6.3.js"></script>

    <!-- LOCAL STORAGE -->
    <link rel="stylesheet" href="assets/scripts/css/index.css" />
    <script src="assets/scripts/js/controller-views.js"></script>
  </head>
  <body id="page-top">
    <header id="slider-container">
      <div id="hamburger-menu" onclick="TogglerMainMenuHamburger();">
        <i class="fa-solid fa-bars"></i>
      </div>
      <nav id="main-menu">
        <legend>menu</legend>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="#community">community</a></li>
          <li><a href="#certificate">certificate</a></li>
          <li><a href="#projects">projects</a></li>
          <li>
            <a href="https://dianadi021.github.io/mycv/" target="_blank">curriculum vitae</a>
          </li>
        </ul>
        <ul id="user-session">
          <div class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login-modal">login</div>
          <div class="btn btn-success" data-bs-toggle="modal" data-bs-target="#register-modal">daftar</div>
        </ul>
      </nav>
      <div id="banner-swiper" class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="assets/images/bg-masthead.jpg" alt="" />
            <div class="carousel-caption d-md-block">
              <h5>Dian Adi Nugroho</h5>
              <h6>「Programmer | Content Writer」</h6>
              <p>@dianadi021</p>
              <ul id="container-socmed" class="container-content">
                <li class="btn btn-dark">
                  <a
                    class="social-link rounded-circle text-white mr-3"
                    href="https://www.youtube.com/c/diannugroho"
                    target="_blank">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
                <li class="btn btn-dark">
                  <a
                    class="social-link rounded-circle text-white mr-3"
                    href="https://dianadi021.blogspot.com/"
                    target="_blank">
                    <i class="fab fa-blogger"></i>
                  </a>
                </li>
                <li class="btn btn-dark">
                  <a
                    class="social-link rounded-circle text-white mr-3"
                    href="https://id.linkedin.com/in/dianadi021/"
                    target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </li>
                <li class="btn btn-dark">
                  <a
                    class="social-link rounded-circle text-white mr-3"
                    href="https://web.facebook.com/dianadi021/"
                    target="_blank">
                    <i class="fab fa-facebook"></i>
                  </a>
                </li>
                <li class="btn btn-dark">
                  <a
                    class="social-link rounded-circle text-white mr-3"
                    href="https://instagram.com/dianadi021/"
                    target="_blank">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li class="btn btn-dark">
                  <a
                    class="social-link rounded-circle text-white mr-3"
                    href="https://twitter.com/dianadi021/"
                    target="_blank">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="btn btn-dark">
                  <a class="social-link rounded-circle text-white mr-3" href="https://bit.ly/joinSKUAD" target="_blank">
                    <i class="fab fa-discord"></i>
                  </a>
                </li>
                <li class="btn btn-dark">
                  <a
                    class="social-link rounded-circle text-white"
                    href="https://github.com/dianadi021/"
                    target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="assets/images/dianadi0214.jpg" alt="" />
            <div class="carousel-caption d-md-block">
              <div id="caption-about-me">
                <h5 class="brd-bt-3 d-inline">Tentang Saya</h5>
                <p class="p-1">
                  Dengan kerja keras dan ilmu yang sudah saya peroleh, dapat membuat saya menjadi lebih baik daripada
                  sebelumnya. Dan saya sudah terbiasa dengan adanya perbedaan pendapat yang terjadi selama proses
                  diskusi. Serta saya sudah terbiasa dalam bekerjasama dalam kelompok atau kerja tim.
                </p>
                <div class="btn btn-dark">
                  <a href="https://dianadi021.github.io/mycv/" target="_blank">curriculum vitae</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next banner-swiper"></div>
        <div class="swiper-button-prev banner-swiper"></div>
        <div class="swiper-pagination banner-swiper"></div>
        <div class="autoplay-progress">
          <svg viewBox="0 0 48 48">
            <circle cx="24" cy="24" r="20"></circle>
          </svg>
          <span></span>
        </div>
      </div>
    </header>
    <main id="container">
      <article id="community" style="background-color: #023047; color: whitesmoke">
        <div class="container-content">
          <div id="title-article">
            <h2 class="brd-bt-3">community</h2>
          </div>
          <div class="container-content container">
            <% ArticleDocument.forEach((list) => { const { thumbnailImage, title, description, link } = list; %>
            <div class="items-list-card card p-1">
              <img src="uploads/images/<%= thumbnailImage %>" class="card-img-top" alt="<%= title %>" />
              <div class="card-body">
                <p class="card-text m-0" style="color: black"><%= description %></p>
                <div class="btn btn-primary btn-projects">
                  <a class="text-white" href="<%= link %>" target="_blank" rel="noopener noreferrer"><%= title %></a>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </article>
      <article id="certificate" style="background-color: whitesmoke">
        <div class="container-content">
          <div id="title-article">
            <h2 class="brd-bt-3">certificate</h2>
          </div>
          <div class="container">
            <div
              id="certificate-swiper1"
              style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
              class="swiper">
              <div class="swiper-wrapper">
                <% CertificateDocument.forEach((list) => { const { thumbnailImage, title, description, link } = list; %>
                <div class="swiper-slide">
                  <a href="<%= link %>" target="_blank" rel="noopener noreferrer">
                    <img src="uploads/images/<%= thumbnailImage %>" alt="<%= title %>" />
                  </a>
                </div>
                <% }) %>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <div id="certificate-swiper" thumbsSlider="" class="swiper">
              <div class="swiper-wrapper">
                <% CertificateDocument.forEach((list) => { const { thumbnailImage, title, description, link } = list; %>
                <div class="swiper-slide">
                  <img src="uploads/images/<%= thumbnailImage %>" alt="<%= title %>" />
                </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article id="projects" style="background-color: #8ecae6">
        <div class="container-content">
          <div id="title-article">
            <h2 class="brd-bt-3">projects</h2>
          </div>
          <div class="container-content container">
            <% ProjectDocument.forEach((list) => { const { thumbnailImage, title, description, link } = list; %>
            <div class="items-list-card card p-1">
              <img src="uploads/images/<%= thumbnailImage %>" class="card-img-top" alt="<%= title %>" />
              <div class="card-body">
                <p class="card-text m-0"><%= description %></p>
                <div class="btn btn-primary">
                  <a class="text-white" href="<%= link %>" target="_blank" rel="noopener noreferrer"><%= title %></a>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </article>
    </main>
    <footer>
      <div id="copyright">2023 &copy; <a href="https://dianadi021.github.io/">dian adi nugroho</a></div>
    </footer>
    <a id="scroll-top" class="btn btn-dark" href="#page-top"><i class="fa-solid fa-arrow-up"></i></a>

    <div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="login-modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="login-modal">Login</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="get" action="/users">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="username" id="username" class="form-control" />
                <label class="form-label" for="username">Username</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="password" name="password" class="form-control" />
                <label class="form-label" for="password">Password</label>
              </div>

              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div class="col">
                  <!-- Simple link -->
                  <a href="#!">Forgot password?</a>
                </div>
              </div>

              <!-- Submit button -->
              <center>
                <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
              </center>

              <!-- Register buttons -->
              <div class="text-center">
                <p>Not a member? <a href="#register" data-bs-toggle="modal" data-bs-target="#register-modal">Register</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="register-modal" tabindex="-1" aria-labelledby="register-modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="register-modal">Register</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="/users">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="username" id="username" name="username" class="form-control" />
                <label class="form-label" for="username">Username</label>
              </div>

              <div class="form-outline mb-4">
                <input type="email" id="email" name="email" class="form-control" />
                <label class="form-label" for="email">Email address</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="password" name="password" class="form-control" />
                <label class="form-label" for="password">Password</label>
              </div>

              <!-- Submit button -->
              <center>
                <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
              </center>

              <!-- Register buttons -->
              <div class="text-center">
                <p>already member? <a href="#login" data-bs-toggle="modal" data-bs-target="#login-modal">Login</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- BOOTSTRAP v5.3 -->
    <script src="assets/vendor/bootstrap-5.3.2/js/bootstrap.bundle.min.js"></script>

    <!-- SWIPER v10 -->
    <script src="assets/vendor/swiper-10.3.1/swiper-bundle.min.js"></script>
  </body>
</html>
