<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= head_title %></title>

<meta itemprop="name" content="<%= head_title %>" />
<meta itemprop="description" content="<%= head_description %>" />
<meta name="description" content="<%= head_description %>" />
<meta name="author" content="<%= head_author %>" />
<meta name="keywords" content="<%= head_keywords %>" />
<meta name="geo.placename" content="Indonesia" />
<meta name="geo.country" content="id" />
<meta name="webcrawlers" content="all" />
<meta name="rating" content="general" />
<meta name="spiders" content="all" />

<meta itemprop="image" content="#" />
<meta name="image" content="#" />
<link rel="fav-icon" href="#" type="image/x-icon" />

<!-- LANGUAGE DIRECTORY -->
<meta name="language" content="Indonesia" />
<meta name="language" content="English" />
<link rel="alternate" hreflang="en" href="https://dianadi021.github.io/" />
<link rel="alternate" hreflang="id" href="https://dianadi021.github.io/" />

<!--
<meta property="og:title" content="Judul Konten Anda">
<meta property="og:description" content="Deskripsi Konten Anda">
<meta property="og:image" content="URL_GAMBAR_KONTEN">
<meta property="og:url" content="URL_HALAMAN_KONTEN">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Dian Nugroho | Official" />
<meta property="og:locale" content="id_ID" />

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Judul Konten Anda">
<meta name="twitter:description" content="Deskripsi Konten Anda">
<meta name="twitter:image" content="URL_GAMBAR_KONTEN">
-->

<!-- TOKEN SEARCH ENGINE -->
<!--
<meta content='#tokenyandex' name='yandex-verification'/>
<meta content='#tokenbing' name='msvalidate.01'/>
<meta content='#tokengoogle' name='google-site-verification'/>
-->